*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

.buscador {
  display: inline-block;
  width: 350px;
  height: 40px;
  border-radius: 15px;
}

.padre-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .padre-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .padre-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card1 {
  width: 18rem;
  box-shadow: 14px 14px 6px 0px rgba(241, 156, 121, 0.67);
  -webkit-box-shadow: 14px 14px 6px 0px rgba(241, 156, 121, 0.67);
  -moz-box-shadow: 14px 14px 6px 0px rgba(241, 156, 121, 0.67);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: rgb(177, 52, 52);
  transition: transform 0.4s;
}
.card1:hover {
  transform: scale(1.1);
}
.card1 img {
  width: 250px;
  height: 250px;
  display: block;
  display: block;
  margin: 20px auto;
}
.card1 p {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: large;
}
.card1 button {
  border: none;
  padding: 8px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 45px;
}
.card1 button:active {
  background-color: rgba(241, 156, 121, 0.8);
}

.filtro {
  display: none;
}

/* MODAL CONTENT */
.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: white;
  background-color: rgb(24, 23, 23);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*para la parte de arriba*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  width: 100%;
}

.modal-header-title {
  justify-self: start;
}

.modal-header-button {
  cursor: pointer;
}

.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
  height: 120px;
  width: 120px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

/* boton para eliminar productos */
.delete-product {
  cursor: pointer;
}

/* Contador del carrito */
.cantidad-carrito {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 14px;
  position: absolute;
  display: none;
}

.sumar {
  cursor: pointer;
}

.restar {
  cursor: pointer;
}

.filtro {
  display: none;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000;
  position: absolute;
  right: 70px;
}

.icon-cart:hover {
  cursor: pointer;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
